/*
* This file was automatically genrated from SCSS
* Do not directly modify this file. Update and recompile the SCSS
* TODO: add github link
*/
/*
* ============ START beforeIcons ============
*/
.youtube:before, .ppt:before, .doc:before, .xls:before, a[href$=".pdf"]:before,
.pdf:before, a[href^="mailto:"]:before, a[href^="tel:"]:before, .fax:before, .no-icon:before,
.u-email:before, .auth:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  padding-right: 5px; }

.youtube:before {
  content: "\f16a"; }

.ppt:before {
  content: "\f1c4"; }

.doc:before {
  content: "\f1c2"; }

.xls:before {
  content: "\f1c3"; }

a[href$=".pdf"]:before,
.pdf:before {
  content: "\f1c1"; }

a[href^="mailto:"]:before {
  content: "\f003"; }

a[href^="tel:"]:before {
  content: "\f095"; }

.fax:before {
  content: "\f1ac"; }

.no-icon:before,
.u-email:before {
  content: none !important; }

.auth:before {
  content: "\f023"; }

.new:before, .updated:before, .coming-soon:before {
  display: inline;
  padding: .2em .6em .27em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin: 0 5px;
  font-family: sans-serif;
  font-variant: small-caps; }

.new:before {
  content: "new";
  background-color: #17a2b8; }

.updated:before {
  content: "updated";
  background-color: #ffc107; }

.coming-soon:before {
  content: "coming soon";
  background-color: #28a745; }

/*
* ============ START pageSection ============
*/
.page-section > h3,
h3.page-section, .page-section > h2,
h2.page-section {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 24px 0 0 0 !important;
  text-align: left; }

.page-section > h3,
h3.page-section {
  color: #1E4D2B !important; }

.page-section > h2,
h2.page-section {
  color: #D9782D !important; }

.page-section > h3:after,
h3.page-section:after, .page-section > h2:after,
h2.page-section:after {
  content: "";
  height: 3px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  opacity: .6;
  margin-left: 10px; }

.page-section > h3:after,
h3.page-section:after {
  background-color: #1E4D2B; }

.page-section > h2:after,
h2.page-section:after {
  background-color: #D9782D; }

/*
* ============ START alert ============
*/
.alert {
  border: none;
  border-radius: 0;
  background-color: #fff;
  border-left: 5px solid transparent; }
  .alert p {
    margin-bottom: 0 !important; }
  .alert .title {
    font-weight: bold; }
  .alert .timestamp {
    font-size: 75% !important;
    color: rgba(0, 0, 0, 0.54);
    margin-top: -10px; }
  .alert .message {
    font-size: 85%;
    color: #000;
    margin: 0 15px;
    font-family: Droid Sans !important;
    text-align: left; }
  .alert-success {
    color: #28a745;
    border-left-color: #28a745; }
  .alert-info {
    color: #17a2b8;
    border-left-color: #17a2b8; }
  .alert-warning {
    color: #ffc107;
    border-left-color: #ffc107; }
  .alert-danger {
    color: #dc3545;
    border-left-color: #dc3545; }

/*
* ============ START paper ============
*/
.paper {
  background: #fff;
  padding: 16px;
  margin: 5px;
  box-shadow: 0 0 5px 0 #c7c7c7; }
  .paper-hover:hover {
    box-shadow: 0 0 5px 0 #6b6b6b; }

/*
* ============ START committeeShowcase ============
*/
#committee-showcase .paper {
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
#committee-showcase .alias {
  margin: 0; }
#committee-showcase a .alias {
  display: none; }
#committee-showcase a:hover .alias {
  display: block; }
#committee-showcase a:hover i {
  display: none; }
#committee-showcase a:hover .name {
  display: none; }

/*
* ============ START button ============
*/

/*# sourceMappingURL=main.css.map */
