.alert {
  border: none;
  border-radius: 0;
  background-color: $color-common-white;
  border-left: 5px solid transparent;

  p {
    margin-bottom: 0 !important;
  }

  .title {
    font-weight: bold;
  }

  .timestamp {
    font-size: 75% !important;
    color: $color-common-lightBlack;
    margin-top: -10px;
  }

  .message {
    font-size: 85%;
    color: #000;
    margin: 0 15px;
    font-family: Droid Sans !important;
    text-align: left;
  }

  &-success {
    color: $color-alert-success;
    border-left-color: $color-alert-success;
  }

  &-info {
    color: $color-alert-info;
    border-left-color: $color-alert-info;
  }

  &-warning {
    color: $color-alert-warning;
    border-left-color: $color-alert-warning;
  }

  &-danger {
    color: $color-alert-danger;
    border-left-color: $color-alert-danger;
  }
}