%text-styling {
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: "factoria-book", "Helvetica", "Arial", sans-serif;
  transition: 0.7s ease;
  width: 100%;
  padding: 2px 16px;
}

#committee-showcase {
  p {
    display: none;
  }

  .row {
    margin: 0;

    & > [class*="col-md"] {
      padding: 2px;
    }
  }

  .showcase-element {
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-size: cover;
    background-position: center;

    .com {
      @extend %text-styling;
      opacity: 0;
    }

    .abr {
      @extend %text-styling;
      margin-top: 15%;
    }

    &:hover .abr {
      opacity: 0;
      margin-top: -10%;
    }

    &:hover .com {
      opacity: 1;
    }
  }
}